<div class="container">
    <div class="button-groups">
        <p-button label="Add Todo" (click)="addTodo()"></p-button>
    </div>
    <div class="list-wrapper" *ngIf="tasks |async as tasks">
        <app-todo-card *ngFor="let task of tasks" [task]="task" (onDelete)="deleteTask($event)"
            (onEdit)="editTask($event)"></app-todo-card>

    </div>
</div>
<p-confirmDialog />

<p-dialog header="Add Todo" draggable="false" modal="true" [(visible)]="visible" (onHide)="add()" [style]="{ width: '50rem' }">
    <form [formGroup]="taskForm">
        <div class="flex align-items-center gap-3 mb-3">
            <label for="username" class="font-semibold w-6rem">Title </label>
            <input pInputText id="username" class="flex-auto" form autocomplete="off" formControlName="title" />

        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="Deadline" class="font-semibold w-6rem">Deadline </label>
            <p-calendar readonlyInput appendTo="body" formControlName="deadline" />

        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="content" class="font-semibold w-6rem">Content</label>
            <input pInputText id="content" class="flex-auto" form autocomplete="off" formControlName="content" />

        </div>
        <div class="flex align-items-center gap-3 mb-5 mt-3">
            <label for="ny">Completed
            <p-checkbox [binary]="true" formControlName="completed" inputId="ny" />
        </label>
        </div>
        <div class=" justify-content-end gap-2 actions">
            <p-button label="Cancel" severity="secondary" (click)="visible = false" />
            <p-button label="Save"[disabled]="!taskForm.valid" (click)="visible = false" />
        </div>
    </form>
</p-dialog>

<!-- EDIT -->
<p-dialog header="Edit Todo" draggable="false" modal="true" [(visible)]="visibleEditForm" (onHide)="edit()" [style]="{ width: '50rem' }" >
    <form [formGroup]="taskEditForm">

        <div class="flex align-items-center gap-3 mb-3">
            <label for="username" class="font-semibold w-6rem">Title </label>
                <input pInputText id="username" class="flex-auto" form autocomplete="off" formControlName="title" />
           
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="Deadline" class="font-semibold w-6rem">Deadline
            </label>

            <p-calendar appendTo="body" formControlName="deadline" />
        </div>
        <div class="flex  align-items-center gap-3 mb-3">
            <label for="content" class="font-semibold w-6rem">Content        </label>
                <input pInputText id="content" class="flex-auto" form autocomplete="off" formControlName="content" />
    
        </div>
        <div class="flex align-items-center gap-3 mb-5 mt-3">
                 <label for="ny">Completed
            <p-checkbox [binary]="true" formControlName="completed" inputId="ny" />
        </label>
       
        </div>
        <div class=" justify-content-end gap-2 actions">
            <p-button label="Cancel" severity="secondary" (click)="visibleEditForm = false" />
            <p-button [disabled]="!taskEditForm.valid" label="Save" (click)="visibleEditForm = false" />
        </div>
    </form>
</p-dialog>