.container {
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;
    .button-groups {
        display: flex;
        justify-content: flex-end;
    }

    .list-wrapper {
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
        app-todo-card{
            flex-basis: 100%;
            flex-shrink: 1;
        }
    }


}
.actions{
    margin-top: 10px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}
form{
    .flex {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
}
::ng-deep p-calendar {
    .p-calendar {
        width: 100%!important;
    }
}