::ng-deep .card {
    position: relative;

    .icon-wrapper {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;

        gap: 15px;
        cursor: pointer;

        .pi {
            font-size: 20px !important;
        }

    }
}