<p-card [header]="task.title" class="card" *ngIf="task">
    <div class="icon-wrapper" >
        <i class="pi pi-times" (click)="delete()"></i>
        <i class="pi pi-pencil" (click)="edit()"></i>
    </div>
    <p class="m-0">
       Content: {{task.content}}
    </p>
    <p class="m-0">
       Completed: {{task.completed ? "true"  :"false"}}
    </p>
    <p class="m-0">
       DeadLine: {{task.deadline |date}}
    </p>
</p-card>